.DS_Store
*~
*.o
*.a
*.d
*.cppdep
*.cdep
*.so
*.tmp
*.dylib
*.dll
*.sw?
*.exe
*.gcda
*.gcno
a.out
makefile.dep
/Makefile.conf
/sourceme.sh
/tmp
/codes
/config.*
/autom4*
/stamp-h

src/analysis/core/

src/analysis/gridtools/

src/analysis/multicolvar/

src/analysis/reference/

src/analysis/tools/

src/analysis/vesselbase/

src/bias/core/

src/bias/tools/

src/cltools/config/
src/analysis/core
src/analysis/gridtools
src/analysis/multicolvar
src/analysis/reference
src/analysis/tools
src/analysis/vesselbase
src/bias/core
src/bias/tools
src/cltools/config
src/cltools/core
src/cltools/molfile
src/cltools/tools
src/cltools/wrapper
src/colvar/core
src/colvar/reference
src/colvar/tools
src/core/config
src/core/tools
src/function/core
src/function/reference
src/function/tools
src/generic/core
src/generic/tools
src/gridtools/core
src/gridtools/tools
src/gridtools/vesselbase
src/lapack/blas
src/main/wrapper
src/mapping/cltools
src/mapping/core
src/mapping/reference
src/mapping/tools
src/mapping/vesselbase
src/multicolvar/core
src/multicolvar/gridtools
src/multicolvar/tools
src/multicolvar/vesselbase
src/reference/core
src/reference/tools
src/secondarystructure/core
src/secondarystructure/reference
src/secondarystructure/tools
src/secondarystructure/vesselbase
src/setup/core
src/setup/tools
src/tools/core
src/tools/lapack
src/vatom/core
src/vatom/tools
src/vesselbase/core
src/vesselbase/tools

src/imd/imd\.cpp

src/imd/imd\.c

src/imd/imd\.h

src/imd/vmdsock\.c
