.DS_Store
*~
*.o
*.d
*.cppdep
*.cdep
*.so
*.tmp
*.dylib
*.dll
*.sw?
*.exe
a.out
makefile.dep
/Makefile.conf
/sourceme.sh
/tmp
/codes
/config.*
/autom4*
/stamp-h
src/analysis/core/
src/analysis/reference/
src/analysis/tools/
src/analysis/vesselbase/
src/bias/core/
src/bias/tools/
src/cltools/config/
src/cltools/core/
src/cltools/molfile/
src/cltools/tools/
src/cltools/wrapper/
src/colvar/core/
src/colvar/reference/
src/colvar/tools/
src/core/config/
src/core/tools/
src/function/core/
src/function/reference/
src/function/tools/
src/generic/core/
src/generic/tools/
src/lapack/blas/
src/main/wrapper/
src/mapping/core/
src/mapping/reference/
src/mapping/tools/
src/mapping/vesselbase/
src/multicolvar/core/
src/multicolvar/tools/
src/multicolvar/vesselbase/
src/reference/core/
src/reference/tools/
src/secondarystructure/core/
src/secondarystructure/reference/
src/secondarystructure/tools/
src/secondarystructure/vesselbase/
src/setup/core/
src/setup/tools/
src/tools/core/
src/tools/lapack/
src/vatom/core/
src/vatom/tools/
src/vesselbase/core/
src/vesselbase/tools/
src/lib/install/

src/lib/plumed

src/lib/Plumed\.inc\.static

src/lib/Plumed\.inc\.shared

src/lib/Plumed\.inc\.runtime

src/lib/Plumed\.inc

src/lib/Plumed\.cmake\.static

src/lib/Plumed\.cmake\.shared

src/lib/Plumed\.cmake\.runtime

src/lib/Plumed\.cmake

src/lib/plumed-shared

src/lib/plumed-runtime

src/lib/plumed-patch

src/lib/plumed-newcv

src/lib/plumed-mklib

src/config/compile_options\.sh

src/config/Config\.cpp

src/config/ConfigInstall\.cpp

src/config/version\.h
