.DS_Store
*~
*.o
*.d
*.cppdep
*.cdep
*.so
*.tmp
*.dylib
*.dll
*.sw?
*.exe
*.gcda
*.gcno
a.out
makefile.dep
/Makefile.conf
/sourceme.sh
/tmp
/codes
/config.*
/autom4*
/stamp-h

src/analysis/core/

src/analysis/gridtools/

src/analysis/multicolvar/

src/analysis/reference/

src/analysis/tools/

src/analysis/vesselbase/

src/bias/core/

src/bias/tools/
