/*

# Only track modules that are part of the plumed core
!/Makefile
!/README
!/adjmat
!/analysis
!/bias
!/blas
!/cltools
!/colvar
!/config
!/core
!/crystallization
!/drr
!/eds
!/function
!/generic
!/gridtools
!/imd
!/isdb
!/lapack
!/lepton
!/lib
!/main
!/maketools
!/mapping
!/manyrestraints
!/molfile
!/multicolvar
!/python
!/pamm
!/reference
!/secondarystructure
!/setup
!/tools
!/vatom
!/ves
!/vesselbase
!/wrapper
!/header.sh
!/release.sh
!/astyle.sh


# And just ignore these files
*.xxd
/*.on
/*.off
./analysis/core
./analysis/gridtools
./analysis/multicolvar
./analysis/reference
./analysis/tools
./analysis/vesselbase
./bias/core
./bias/tools
./cltools/config
./cltools/core
./cltools/molfile
./cltools/tools
./cltools/wrapper
./colvar/core
./colvar/reference
./colvar/tools
./core/config
./core/tools
./function/core
./function/reference
./function/tools
./generic/core
./generic/tools
./gridtools/core
./gridtools/tools
./gridtools/vesselbase
./lapack/blas
./main/wrapper
./mapping/cltools
./mapping/core
./mapping/reference
./mapping/tools
./mapping/vesselbase
./multicolvar/core
./multicolvar/gridtools
./multicolvar/tools
./multicolvar/vesselbase
./reference/core
./reference/tools
./secondarystructure/core
./secondarystructure/reference
./secondarystructure/tools
./secondarystructure/vesselbase
./setup/core
./setup/tools
./tools/core
./tools/lapack
./vatom/core
./vatom/tools
./vesselbase/core
./vesselbase/tools
